<ion-header>
  <ion-toolbar color='primary'>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="tabs/tab1"></ion-back-button>
    </ion-buttons>
    <ion-title><%=title %></ion-title>
  </ion-toolbar>
</ion-header>
  
<ion-content padding>
  
<form [formGroup]="generatedForm" (ngSubmit)="submitForm()">
  <% questions.forEach((question) => { -%>
  <%_ switch (question.type) {
        case "short_text": _%>
  <app-short-text [title]="'<%= question.title %>'" [label]="'<%= question.label %>'"
    formControlName="<%= question.id %>"></app-short-text>
  <%_ break; _%>
  <% case "long_text": -%>
  <app-long-text [title]="'<%= question.title %>'" [label]="'<%= question.label %>'"
    formControlName="<%= question.id %>"></app-long-text>
  <%_ break; _%>
  <% case "multiple_choice": -%>
  <app-multiple-choice [title]="'<%= question.title %>'" [label]="'<%= question.label %>'"
    [options]="<%= question.id %>_options" formControlName="<%= question.id %>"></app-multiple-choice>
  <%_ break; _%>
  <% case "checkbox": -%>
  <app-checkbox [title]="'<%= question.title %>'" [options]="<%= question.id %>_options"
    formControlName="<%= question.id %>"></app-checkbox>
  <%_ break; _%>
  <% case "select": -%>
  <app-select [title]="'<%= question.title %>'" [label]="'<%= question.label %>'"
    [placeholder]="'<%= question.placeholder %>'" [okText]="'<%= question.okText %>'"
    [cancelText]="'<%= question.cancelText %>'" [options]="<%= question.id %>_options"
    formControlName="<%= question.id %>"></app-select>
  <%_ break; _%>
  <% case "slider": -%>
  <app-slider [title]="'<%= question.title %>'" [min]="<%= question.min %>" [max]="<%= question.max %>"
    [step]="<%= question.step %>" formControlName="<%= question.id %>"></app-slider>
  <%_ break; _%>
  <% case "date": -%>
  <app-date [title]="'<%= question.title %>'" [label]="'<%= question.label %>'" [display]="'<%= question.display %>'"
    [picker]="'<%= question.picker %>'" formControlName="<%= question.id %>"></app-date>
  <%_ break; _%>
  <% } -%>
  <% }); -%>
  <div text-center>
      <ion-button type="submit" color="primary"><%=submit_button_text%></ion-button>
  </div>
</form>

</ion-content>